# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Toms Puzzle/obj/Debug/netcoreapp3.1/Toms Puzzle.csprojAssemblyReference.cache
.vs/Toms Puzzle/v16/.suo
.vs/Toms Puzzle/v16/.suo
Toms Puzzle/obj/Debug/netcoreapp3.1/Toms Puzzle.csprojAssemblyReference.cache
.vs/Toms Puzzle/v16/.suo
.vs/Toms Puzzle/DesignTimeBuild/.dtbcache.v2
.vs/Toms Puzzle/v16/.suo
.vs/Toms Puzzle/DesignTimeBuild/.dtbcache.v2
.vs/Toms Puzzle/v16/.suo
*.v2
Toms Puzzle/obj/Debug/netcoreapp3.1/Toms Puzzle.csprojAssemblyReference.cache
Toms Puzzle/obj/project.assets.json
Toms Puzzle/obj/project.nuget.cache
Toms Puzzle/obj/Toms Puzzle.csproj.nuget.dgspec.json
.vs/Toms Puzzle/DesignTimeBuild/.dtbcache.v2
.vs/Toms Puzzle/v16/.suo
Toms Puzzle/obj/Toms Puzzle.csproj.nuget.dgspec.json
*.cache
*.json
*.json
*.cache
*.v2
.vs/Toms Puzzle/v16/.suo
*.cache
.vs/Toms Puzzle/v16/.suo
